/* 全局样式 */
:root {
    text-autospace: normal; /* 自动加中英文间距 */
}
@view-transition {
    navigation: auto; /* 自动加页面间过渡动画 */
}
* { /* 滚动条样式 */
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    font-family: "HarmonyOS Sans SC", "HONOR Sans CN", "Source Han Sans CN", "Noto Sans CJK", "Source Han Sans", "Noto Sans";
}
*:hover {
    scrollbar-color: #88888888 transparent;
}
body {
    min-height: 100vh;
    padding: 0 1rem;
    margin: 0;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 图片样式 */
img {
    display: block;
    border-radius: 1rem;
}

/* 按钮样式 */
button {
    line-height: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 999rem;
    background-color: #88888822;
    white-space: nowrap;
}
button:hover {
    background-color: #88888833;
    cursor: pointer;
}
button.primary {
    background-color: #101010FF;
    color: white;
}
button.primary:hover {
    background-color: #101010E0;
}

/* 对话框样式 */
dialog {
    border: none;
    border-radius: 1rem;
    padding: 2rem;
    background-color: #EEE;
    opacity: 0;
    transform: scale(0.9);
    transition:
        opacity 0.3s ease,
        transform 0.3s ease,
        overlay 0.3s ease allow-discrete,
        display 0.3s ease allow-discrete;
}
dialog[open] {
    opacity: 1;
    transform: scale(1);
}
@starting-style {
    dialog[open] {
        opacity: 0;
        transform: scale(0.9);
    }
}
dialog::backdrop {
    background: #00000000;
    transition:
        background 0.3s ease,
        overlay 0.3s ease allow-discrete;
}
dialog[open]::backdrop {
    background: #00000066;
    backdrop-filter: blur(0.5rem);
}
@starting-style {
    dialog[open]::backdrop {
        background: #00000000;
    }
}

/* 输入框样式 */
label {
    white-space: nowrap;
}
textarea {
    resize: none;
}
input {
    height: 2rem;
    width: 100%;
    min-width: 8rem;
    font-size: 0.85rem;
    line-height: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    font-family: inherit;
    border-radius: 1rem;
    background-color: #88888822;
    box-sizing: border-box;
}
input:hover {
    background-color: #88888833;
}
input::placeholder {
    color: #888;
}

/* 骨架屏样式 */
.skeleton {
  animation: skeleton 2s ease-in-out infinite;
}
@keyframes skeleton {
  0%   { opacity: 1; }
  50%  { opacity: 0.4; }
  100% { opacity: 1; }
}

/* 文章样式 */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
h1 {
    margin-top: 4rem;
    font-size: 2.4rem;
}
h1:first-child {
    margin-top: 0;
}
p, blockquote, pre {
    line-height: 1.5;
    /* letter-spacing: 0.4px; */
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
code {
    font-family: "Sarasa Fixed SC", Consolas, "Courier New", monospace;
    background-color: #88888822;
    padding: 0.2rem 0.4rem;
    border-radius: 0.4rem;
    line-height: 1.5;
    margin: 0 0.3rem;
}
pre code {
    padding: 1rem;
    display: block;
    border-radius: 1rem;
    overflow-x: auto;
    margin: 0;
}
hr {
    border: none;
    border-top: 1px solid #88888855;
    margin: 2rem 1rem;
}
ul, ol {
    padding-left: 1.5rem;
}
table {
  border-collapse: separate;   /* 允许单元格间隙 */
  border-spacing: 0.2rem;      /* 所有格子间距 0.2rem */
  border: none;                /* 表格无边框 */
  border-radius: 1.5rem;         /* 外侧圆角 1rem */
  overflow: hidden;            /* 裁剪超出圆角的背景 */
}
th, td {
    border: none;
    background-color: #88888822; /* 半透明灰（约13%不透明度） */
    padding: 0.5rem 1rem;
}
blockquote {
    font-style: italic;
    /* font-family: 'Times New Roman', Times, serif; */
    color: #000000AA;
    margin-left: 2rem;
    margin-right: 2rem;
}
figure {
    margin: 0;
    width: inherit;
    display: inline-block;
}
figure figcaption {
    color: #888;
    text-align: center;
    font-size: 0.9rem;
}
article-page a {
    color: #202080;
}
article-page img {
    margin: 0;
    max-width: 100%;
    max-height: 60vh;
    height: auto;
    box-shadow: 0 0 0.5rem #88888833;
}
article-page > :not(hr):not(:last-child) {
    margin-top: 0;
    margin-bottom: 1.5rem;
}
figure img {
    margin: 0 0 0.5rem 0;
}
