:root {
    text-autospace: normal;
}
button {
    line-height: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 999rem;
    background-color: #88888822;
    white-space: nowrap;
}
button:hover {
    background-color: #88888833;
    cursor: pointer;
}
button.primary {
    background-color: #101010FF;
    color: white;
}
button.primary:hover {
    background-color: #101010E0;
}
body {
    min-height: 100vh;
    padding: 0 1rem;
    margin: 0;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: center;
}

dialog {
    border: none;
    border-radius: 1rem;
    padding: 2rem;
    background-color: #EEE;
    opacity: 0;
    transform: scale(0.9);
    transition:
        opacity 0.3s ease,
        transform 0.3s ease,
        overlay 0.3s ease allow-discrete,
        display 0.3s ease allow-discrete;
}
dialog[open] {
    opacity: 1;
    transform: scale(1);
}
@starting-style {
    dialog[open] {
        opacity: 0;
        transform: scale(0.9);
    }
}

dialog::backdrop {
    background: #00000000;
    transition:
        background 0.3s ease,
        overlay 0.3s ease allow-discrete;
}
dialog[open]::backdrop {
    background: #00000066;
    backdrop-filter: blur(0.5rem);
}
@starting-style {
    dialog[open]::backdrop {
        background: #00000000;
    }
}

h1 {
    font-weight: normal;
    margin-top: 4rem;
    font-size: 2.4rem;
}
p {
    line-height: 1.5;
    margin: 1rem 0;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
code {
    font-family: Consolas, "Courier New", monospace;
    background-color: #88888822;
    padding: 0.2rem 0.4rem;
    border-radius: 0.4rem;
    line-height: 1.5;
}
ol {
    padding-left: 1.5rem;
}
span[title] {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-underline-offset: 0.2em;
  text-decoration-color: rgb(0 0 0 / 50%);
  cursor: help;
}
article-page a {
    color: #202080;
}
article-page img {
    margin: 1rem 0;
    max-width: 100%;
    max-height: 60vh;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem #88888833;
}
input {
    height: 2rem;
    min-width: 20rem;
    font-size: 0.85rem;
    line-height: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    font-family: inherit;
    border-radius: 1rem;
    background-color: #88888822;
    box-sizing: border-box;
}
input:hover {
    background-color: #88888833;
}
input::placeholder {
    color: #888;
}
